<div class="row">
  <div class="title_container">
    <h1 class="text-center"><%= @category.localized_name %></h1>
  </div>
</div>

<div class="row">
  <% @items.each do |item| %>
    <% cache(item) do %>
      <%= render('shared/item', item: item) %>
    <% end %>
  <% end %>
</div>
