<div class="row">
  <div class="title_container">
    <h1 class="text-center"><%= @category.localized_name %></h1>
    <% if user_signed_in? || Rails.env.development? -%>
      <%= link_to(t('item.add_new',), new_category_item_path) %>
    <% end %>
  </div>
</div>
<div class="row">
  <% @items.each do |item| %>
    <%= render('shared/item', item: item) %>
  <% end %>
</div>

<% if false %>
  <% if Rails.env.development? || user_signed_in? %>
    <%= link_to(t('common.edit'), edit_category_item_path(@category, item)) %>
  <% end %>
<% end %>