<div class="row">
  <div class="title_container text-center">
    <h1 class="text-center"><%= t('item.add_new_with_name', name: @category.localized_name) %></h1>
  </div>
  <div class="small-12 medium-8 medium-offset-2 columns">
    <%= render('category_items/form') %>
  </div>
</div>