<% item = local_assigns[:item] %>

<div class="content_container text-center small-6 medium-3 large-2 columns end">
  <div class="content">
    <p class="title"><%= item.localized_name %></p>
    <%= image_tag(item.display_image) %>
    <!-- render items -->
    <% if item = item.try(:localized_description) %>
      <div class="description">
        <%= item.description %>
      </div>
    <% end %>
  </div>
</div>
