<div class="row">
  <div class="title_container">
    <h1 class="text-center"><%= t('category.want_to') %></h1>
  </div>
</div>

<%= render('shared/contents', contents: @categories, content_type: 'category') %>

<% if false %>
  <% if Rails.env.development? || user_signed_in? %>
    <%= link_to(t('common.edit'), edit_category_path(category)) %>
  <% end %>
<% end -%>