<div class="row">
  <div class="title_container">
    <h1 class="text-center"><%= t('category.want_to') %></h1>
  </div>
</div>

<div class="row">
  <%= render('shared/category', category: @food_category, content_type: 'category',
                                sub_categories_path: food_categories_path) %>

  <% @categories.each do |category| %>
    <%= render('shared/category', category: category, content_type: 'category') %>

  <% end %>
</div>


<% if false %>
  <% if Rails.env.development? || user_signed_in? %>
    <%= link_to(t('common.edit'), edit_category_path(category)) %>
  <% end %>
<% end -%>