<div class="row">
  <div class="small-12 medium-10 medium-offset-1 text-center columns">
    <h3><%= t('contact.thank_you') %></h4>
    <p><%= t('contact.thank_you_body') %></p>
    <%= link_to(t('common.back'), root_path, class: "button") %>
  </div>
</div>