// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section.main_section {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.title_container {
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

footer {
  margin-top: auto;
  padding: 1rem 0 1rem 0;
  background-color: #e6e6e6;
}