body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hidden {
  display: none;
}

.title_container {
  margin: 0 auto;
  h1 {
    font-weight: 300;
    font-size: 3rem;
  }
}

.site_title {
  font-size: 1.8rem;
  a {
    font-weight: 400;
  }
}