a.site_title {
  color: white !important;
  font-weight: 400;
}

.top-bar {
  background-color: rgba(15, 188, 249, 1);
  ul {
    background-color: transparent;
    a {
      color: white;
    }
  }
}

.top-bar.pc {
  height: 3.5rem;
}

.top-bar.mobile {
  padding: 0;
  a.site_title {
    font-weight: 300;
  }
}

div.show-for-small-only {
  .row {
    width: 100%;
  }
}
ul.accordion-menu.show-for-small-only {
  li.is-accordion-submenu-parent {
    a {
      text-align: right;
    }
    a:after {
      right: -0.1rem;
    }
  }
}

footer {
  margin-top: auto;
  padding: .5rem 0 .5rem 0;
  background-color: rgba(15, 188, 249, 1);
  a, p {
    color: white !important;
  }
}