// header {
//   background-color: none;
// }

.top-bar {
  // height: 1.5rem;
  background-color: transparent;   
  ul {
    background-color: transparent;   
  }
}

footer {
  margin-top: auto;
  padding: .5rem 0 .5rem 0;
  background-color: #e6e6e6;
}