<footer class="page-footer font-small bg-light blue pt-4 mt-4">

  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-6">
        <h5><%= t('common.about_us') %></h5>
        <ul class="list-unstyled">
          <li>
            <%= link_to(t('common.contact'), new_contact_path) %>
          </li>
        </ul>
        <% if Rails.env.development? %>
          <div class="medium-12 reload_translation">
            <%= link_to('Reload translations', locale_path(:id => I18n.locale, :reload => true)) %>
          </div>
        <% end -%>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
  <div class="footer-copyright py-3 text-center">
    © 2018 Copyright: Talkie Board
  </div>

</footer>
