<footer>
  <div class="row">
    <div class="small-6 columns">
      <% if Rails.env.development? %>
      <div class="medium-12 reload_translation">
        <%= link_to('Reload translations', locale_path(:id => I18n.locale, :reload => true)) %>
      </div>
      <p>
        © 2018 Copyright: Talkie Board
      </p>
      <% end -%>
    </div>
    <div class="small-6 columns">
      <%= link_to(t('common.contact'), new_contact_path) %>
    </div>  
  </div>
</footer>