<footer>
  <div class="row">
    <div class="small-6 columns">
      <% if Rails.env.development? %>
      <div class="medium-12 reload_translation">
        <%= link_to('Reload translations', locale_path(:id => I18n.locale, :reload => true)) %>
      </div>
      <% end -%>
      <p>
        © 2018 Copyright: Talkie Board
      </p>
    </div>
    <div class="hide-for-small-only small-6 columns text-right">
      <%= link_to(t('common.contact'), new_contact_path) %>
      <% if user_signed_in? -%>
        <p><%= link_to(t('common.logout'), destroy_user_session_path, method: :delete, class: 'nav-link') %></p>
      <% else -%>
        <p><%= link_to(t('common.login'), new_user_session_path, class: 'nav-link') %></p>
      <% end %>
    </div>
  </div>
</footer>