<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1"><%= link_to('TalkieBoard', root_path) %></span>
  <span><%= link_to("#{t('common.languages.switch', name: avilable_language_in_words)}", switch_language_path(locale: avilable_language), :method => :put) %></span>
</nav>